 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body{
        background: rgb(128, 72, 0);
    }
hr{
  display: none;
}    
h1{ 
    text-align: center;
    font-size: 48px;
    position: absolute;
    top: 70px;
    left: 640px;
    color: yellow;
}
.info{
    position: absolute;
    text-align: center;
    top: 50px;
    left: 95px;
}
.player {
    margin: 250px auto;
    width: 380px;
    height: 200px;
    border: 3px solid blue;
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 5px blue;
    border-radius: 10px;
    background-color: darkcyan;
}

.player p {
    width: 100%;
    margin: 10px;
    text-align: center;
}

p span:first-child {
    font-weight: bolder;
    align-items: center;
}
button {
    margin-bottom: 48px;
    margin-left: 20px;
    border: 1px rgb(0, 0, 0);
    outline: none;
    background-color: blue;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 10px 1px;
}
.stopm{
    position: absolute;
    top: 105px;
    left: 80px;
}
.playm{
    position: relative;
    left: 0px;
}
.pausem{
    position: relative;
    left: 5px;
}
.playm i,
.pausem i {
    font-size: 62px;
}

.stopm i{
    font-size: 42px;
}

.pausem {
    display: none;
}
.playm:hover{
    cursor: pointer;
    background-color: green;
}
.pausem:hover{
    cursor: pointer;
    background-color: yellow;
}
.stopm:hover{
    cursor: pointer;
    background-color: red;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.volumein {
    position: absolute;
    left: 190px;
    top: 170px;
    border-radius: 5px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40%; /* Full-width */
    height: 5px; /* Specified height */
    background: blue; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.volumein:hover {
    opacity: 1; /* Fully shown on mouse-over */
    background: yellow;
}
.volumein::-webkit-slider-thumb:hover{
    background: green;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.volumein::-webkit-slider-thumb {
    border-radius: 50%; 
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 22px; /* Slider handle height */
    background: red; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.volumein::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}
.vlicon{
    font-size: 32px;
    position: absolute;
    left: 242px;
    top: 115px;
}
.plus{
    position: absolute;
    font-size: 30px;
    left: 345px;
    top: 156px;
    font-weight: bold;
}
.minus{
    position: absolute;
    font-size: 42px;
    left: 168px;
    top: 144px;
    font-weight: bold;
}
.lb1{
    position: absolute;
    left: 35px;
    top: 160px;
    font-weight: bold;
}
.lb2{
    position: absolute;
    left: 105px;
    top: 160px;
    font-weight: bold;
}
.lb3{
    position: absolute;
    left: 35px;
    top: 160px;
    font-weight: bold;
    display: none;
}

